@model PortfolioAcunMedyaAkademi.Models.TblCategory

@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Kategori Güncelleme</h2>
<form method="post">


    <label>ID</label>
    @Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })
    <br />
    <label>Kategori İsmi</label>
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    <br />

    <button class="btn btn-info">Güncelle</button>

</form>
