
<nav id="sidebar" class="active">
    <h1><a href="/Default/Index" class="logo">GD.</a></h1>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="/Feature/Index"><span class="fa fa-home"></span> Anasayfa</a>
        </li>
        <li>
            <a href="/About/Index"><span class="fa fa-user"></span> Hakkımda</a>
        </li>
        <li>
            <a href="/Project/Index/"><span class="fa fa-sticky-note"></span> Projelerimiz</a>
        </li>
        <li>
            <a href="/Service/Index/"><span class="fa fa-cogs"></span> Hizmetlerimiz</a>
        </li>
        <li>
            <a href="/Contact/Index/"><span class="fa fa-paper-plane"></span> İletişim</a>
        </li>
        <li>
            <a href="/Hobby/Index/"><span class="fa fa-th"></span> Hobiler</a>
        </li>
        <li>
            <a href="/Adress/Index/"><span class="fa fa-paper-plane"></span> Adres</a>
        </li>
        <li>
            <a href="/Banner/Index/"><span class="fa fa-th"></span> Banner</a>
        </li>
        <li>
            <a href="/Skill/SkillList/"><span class="fa fa-cogs"></span> Yetenekler</a>
        </li>
        <li>
            <a href="/Profile/Index/"><span class="fa fa-user"></span> Profil</a>
        </li>
        <li>
            <a href="/Testimonial/Index/"><span class="fa fa-user"></span> Referans</a>
        </li>
        <li>
            <a href="/Statistic/Index/"><span class="fa fa-th"></span> İstatistik</a>
        </li>
        <li>
            <a href="/Category/Index/"><span class="fa fa-table"></span> Kategori</a>
        </li>
        <li>
            <a href="/Service/Index/"><span class="fa fa-cogs"></span> Servislerim</a>
        </li>


    </ul>

    <div class="footer">
        <p>
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır 
        </p>
    </div>
</nav>