@model PortfolioAcunMedyaAkademi.Models.TblAbout
@{
    ViewBag.Title = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Hakkında Ekle</h3>
<form method="post">

    <label>ID</label>
    @Html.TextBoxFor(x => x.AboutId, new { @class = "form-control" })

    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })

    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })

    <label>Resim</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>

</form>

