@model PortfolioAcunMedyaAkademi.Models.TblHobby
@{
    ViewBag.Title = "CreateHobby";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hobi Ekleme</h2>
<form method="post">

    <label>Resim</label>
    @Html.TextBoxFor(x => x.IconUrl, new { @class = "form-control" })
    <br />
    <label>Resim</label>
    @Html.TextBoxFor(x => x.IconUrl, new { @class = "form-control" })
    <br />
    <label>Title</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>









</form>

